<h1>Admin Dashboard</h1>

<h3 class=""><%= link_to 'Total Products', :admin_products %>: <%=@product_count %></h3>
<h3 class=""><%= link_to 'Total Categories', :admin_products %>: <%=@category_count %></h3> 
